#what_we_section{
    /* padding: 5rem 1rem 5rem 1rem; */
    height: 80rem;
}

.text-water-blue {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.375rem;
    margin-bottom : 1.75rem;
    text-align:center;
    color: #ffffff;
    background: #275d8c
}
.contact-us-desc{
    margin: 2rem;
    padding: 0rem 2rem 0rem 2rem;
}
.contact-us-intro-text{
   text-align: center;
}
.contact-phone{
    margin: 1rem;
}
.svg_container_small {
    max-width: 6em;
    display: inline-block;
    vertical-align: top;
}
.phone-number{
    display: inline-block;
    top: 2rem;
}
.contact-whatsapp{
    display: flex;
   justify-content: center;
}
.whatsapp-number{
    display: inline;
    padding: 0.2rem
}